body {
  font-family: "Nunito", sans-serif;
  background-color: #F1FAEE;
  width: 150px;
  padding: 10px;
  font-weight: 300;
  text-align: center;
}
.button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 10px 0;
  width: 80%;
  background: #00BB66;
  border: 1px solid #00BB66;
  color: #FFFFFF;
  transition: all 0.5s;
}

#price {
  color: #00BB66;
  border: 1px solid #00BB66;
  background: #FFFFFF;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 0;
  width: 80%;
}

.button:hover, .button:active {
  background: #00DD66;
}
